---
---
$font-color: black;
$submit-color: #00703f;
$submit-color-darker: #00824A;

#donation-modal-button {
  &::before {
    content: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M4.25 2.5c-1.336 0-2.75 1.164-2.75 3 0 2.15 1.58 4.144 3.365 5.682A20.565 20.565 0 008 13.393a20.561 20.561 0 003.135-2.211C12.92 9.644 14.5 7.65 14.5 5.5c0-1.836-1.414-3-2.75-3-1.373 0-2.609.986-3.029 2.456a.75.75 0 01-1.442 0C6.859 3.486 5.623 2.5 4.25 2.5zM8 14.25l-.345.666-.002-.001-.006-.003-.018-.01a7.643 7.643 0 01-.31-.17 22.075 22.075 0 01-3.434-2.414C2.045 10.731 0 8.35 0 5.5 0 2.836 2.086 1 4.25 1 5.797 1 7.153 1.802 8 3.02 8.847 1.802 10.203 1 11.75 1 13.914 1 16 2.836 16 5.5c0 2.85-2.045 5.231-3.885 6.818a22.08 22.08 0 01-3.744 2.584l-.018.01-.006.003h-.002L8 14.25zm0 0l.345.666a.752.752 0 01-.69 0L8 14.25z"></path></svg>');
    margin-right: 0.5em;
    vertical-align: middle;
  }

  &:hover {
    &::before {
      content: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M7.655 14.916L8 14.25l.345.666a.752.752 0 01-.69 0zm0 0L8 14.25l.345.666.002-.001.006-.003.018-.01a7.643 7.643 0 00.31-.17 22.08 22.08 0 003.433-2.414C13.956 10.731 16 8.35 16 5.5 16 2.836 13.914 1 11.75 1 10.203 1 8.847 1.802 8 3.02 7.153 1.802 5.797 1 4.25 1 2.086 1 0 2.836 0 5.5c0 2.85 2.045 5.231 3.885 6.818a22.075 22.075 0 003.744 2.584l.018.01.006.003h.002z"></path></svg>');
      margin-right: 0.5em;
      vertical-align: middle;
    }
  }
}

#donation-modal {
  .donation-method {
    box-sizing: border-box;
    width: 45%;
    margin-right: 1%;
    height: 150px;
    vertical-align: top;
    font-size: 22px;
    text-align: center; 

    label {
      border: 1px solid rgba($font-color,.15);
      box-sizing: border-box;
      display: block;
      height: 100%;
      width: 100%;
      padding: 10% 10px 10% 10px;
      cursor: pointer;
      opacity: .5;
      transition: all .5s ease-in-out;
      &:hover, &:focus, &:active {
        border: 1px solid rgba($font-color,.5);
      }

      svg {
        width: 90%;
        height: 50%;
      }

      p {
        margin-top: 1ex;
        margin-bottom: 0;
        line-height: 1.1;
      }
    }
  }

  .donation-methods {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }

  input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input[type="radio"]:active ~ label {
    opacity: 1;
  }

  input[type="radio"]:checked ~ label {
    opacity: 1;
    border: 1px solid $font-color;
  }

  .donation-currency {
    min-width: 3em;
  }

  .donation-currency, .donation-amount {
    height: 4ex;
  }

  .donation-frequency label {
    margin-left: 2px;
  }

  .shown {
    display: inherit;
  }

  .hidden {
    display: none;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin: 0.5ex 0.5em;
  }

  .flex.nowrap {
    flex-wrap: nowrap;
  }

  .donation-button {
    margin: 10px auto;
  }
}
