---
layout: default
---
{%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
<script>
  function addComment(comment) {
    const avatarImg = document.createElement('img');
    avatarImg.alt = comment.user.login;
    avatarImg.src = comment.user.avatar_url;
    avatarImg.height = avatarImg.width = 44;

    const avatar = document.createElement('a');
    avatar.classList.add('avatar');
    avatar.href = comment.user.html_url;
    avatar.target = '_blank';
    avatar.appendChild(avatarImg);

    const commentMeta = document.createElement('span');
    commentMeta.classList.add('comment-meta');
    commentedDate = new Date(comment.created_at)
    commentMeta.innerHTML = `<a href="${comment.user.html_url}" target="_blank"><strong>${comment.user.login}</strong></a> commented <a href="${comment.html_url}" target="_blank">on ${commentedDate.toDateString()}</a>`
    if (comment.created_at !== comment.updated_at) {
      commentMeta.innerHTML += ' <sub>(edited)</sub>'
    }

    const commentActions = document.createElement('div');
    commentActions.classList.add('comment-actions');
    if (comment.author_association) {
      commentActions.innerHTML += `<span class="author-association-badge">${comment.author_association}</span>`;
    }

    const commentHeader = document.createElement('header');
    commentHeader.classList.add('comment-header');
    commentHeader.appendChild(commentMeta);
    commentHeader.appendChild(commentActions);

    const commentBodyWrapper = document.createElement('div');
    commentBodyWrapper.classList.add('markdown-body', 'markdown-body-scrollable');
    commentBodyWrapper.innerHTML = comment.body_html;

    const commentContainer = document.createElement('div');
    commentContainer.classList.add('comment');
    commentContainer.appendChild(commentHeader);
    commentContainer.appendChild(commentBodyWrapper);

    const commentArticle = document.createElement('article');
    commentArticle.classList.add('timeline-comment');
    commentArticle.appendChild(avatar);
    commentArticle.appendChild(commentContainer);

    const container = document.querySelector('#github_comments');
    container.appendChild(commentArticle);
  }

  async function addComments(repo, filePath) {
    const fetchCommentsApiUrl = `https://api.github.com/repos/${repo}/comments?per_page=100`
    const headers = {'Accept': 'application/vnd.github-commitcomment.html+json'}
    const comments = await (await fetch(fetchCommentsApiUrl, {headers: headers})).json()

    const fetchCorrespondingCommitsApiUrl = `https://api.github.com/repos/${repo}/commits?path=${filePath}&per_page=100`
    const commits = await (await fetch(fetchCorrespondingCommitsApiUrl)).json();

    const commitShas = commits.map(({ sha }) => sha);
    const correspondingComments = comments.filter(comment => commitShas.includes(comment.commit_id));

    correspondingComments.forEach(comment => addComment(comment));
  }

  addComments('{{site.repository}}', '{{page.path}}');

  async function getCommentUrl(repo, filePath) {
    // list up commits which update the current post
    const apiUrl = `https://api.github.com/repos/${repo}/commits?path=${filePath}`
    const response = await fetch(apiUrl)
    const commits = await response.json()
  
    // pick up the latest commit with only 1 updating file
    for (const commit of commits) {
      const response = await fetch(commit.url);
      const commit_detail = await response.json();
      if (commit_detail.files.length == 1) return `${commit.html_url}#new_commit_comment_field`;
    }
    throw new Error('Cannot detect comment url');
  }

  function jumpToCommentUrl() {
    const popup = window.open('', 'githubCommentWindow');
    getCommentUrl('{{site.repository}}', '{{page.path}}')
      .then(url => { popup.location = url; })
      .catch(() => {
        popup.alert('コメント先を自動選択できませんでした．編集履歴を確認し，手動でコメント先を選択してください．');
        popup.location = 'https://github.com/{{site.repository}}/commits/{{site.branch}}/{{ page.path | url_encode | replace: '%2F', '/' | replace: '+', '%20' }}';
      });
  }
</script>

<div class="post-container">
  <a class="post-link" href="{{ page.url | relative_url }}">
    <h1 class="post-title">{{ page.title | escape }}</h2>
  </a>
  <div class="post-meta">
    <div class="horizontal">
      <div class="post-date">
        <i class="far fa-calendar-alt"></i>{{ page.date | date: date_format }}
      </div>
      <div class="post-history">
        <a href="https://github.com/{{site.repository}}/commits/{{site.branch}}/{{ page.path | url_encode | replace: '%2F', '/' | replace: '+', '%20' }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-history"></i>history</a>
      </div>
      <div class="post-source">
        <a href="https://github.com/{{site.repository}}/blob/{{site.branch}}/{{ page.path | url_encode | replace: '%2F', '/' | replace: '+', '%20' }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i>source</a>
      </div>
      <div class="post-comments">
        <a href="#github_comments"><i class="far fa-comment-dots"></i>comments</a>
      </div>
      <div class="post-create-pr">
        <a href="https://github.com/{{site.repository}}/edit/{{site.branch}}/{{ page.path | url_encode | replace: '%2F', '/' | replace: '+', '%20' }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-code-branch"></i>make a suggestion</a>
      </div>
    </div>
    <div class="horizontal">
      {% include category_list.html target=page %}
      {% include tag_list.html target=page %}
    </div>
  </div>
  <div class="post">
    {{ content }}
  </div>
  <hr>
  <div class="center">
    <button id="donation-modal-button" role="button" data-micromodal-trigger="donation-modal">投げ銭する</button>
  </div>
  <hr>
  <p>コメント</p>
  <div id="github_comments" class="post"></div>
  <div id="add_comments" class="post">
    <article class="timeline-comment">
      <a class="avatar" onclick="jumpToCommentUrl()" target="_blank" tabindex="-1">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" style="margin: 10;"><path fill-rule="evenodd" d="M17.263 2.177a1.75 1.75 0 012.474 0l2.586 2.586a1.75 1.75 0 010 2.474L19.53 10.03l-.012.013L8.69 20.378a1.75 1.75 0 01-.699.409l-5.523 1.68a.75.75 0 01-.935-.935l1.673-5.5a1.75 1.75 0 01.466-.756L14.476 4.963l2.787-2.786zm-2.275 4.371l-10.28 9.813a.25.25 0 00-.067.108l-1.264 4.154 4.177-1.271a.25.25 0 00.1-.059l10.273-9.806-2.94-2.939zM19 8.44l2.263-2.262a.25.25 0 000-.354l-2.586-2.586a.25.25 0 00-.354 0L16.061 5.5 19 8.44z"></path></svg>
      </a>
      <div class="comment">
        <header class="comment-header">
          <span class="comment-meta"><strong>You</strong> will comment now</span>
        </header>
        <div class="markdown-body markdown-body-scrollable">
          <p style="text-align: center;"><a onclick="jumpToCommentUrl()">ADD YOUR COMMENT</a></p>
        </div>
      </div></article>
  </div>

  {%- if site.plainwhite.disqus_shortname -%}
  <div id="disqus_thread" style="margin-top:25px"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ page.url | absolute_url }}';
      this.page.identifier = '{{ page.url | absolute_url }}';
    };
    (function () {
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ site.plainwhite.disqus_shortname }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
      powered by Disqus.</a></noscript>
  {%- endif -%}
</div>

<div class="modal" id="donation-modal" aria-hidden="true">
  <div tabindex="-1" class="modal__overlay" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="donation-modal-title">
      <header class="modal__header">
        <h2 id="modal__title">
          投げ銭する
        </h2>

        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>

      </header>

      <div id="donation-modal-content-before-donation" class="shown">
        <h3>決済方法</h3>
        <div class="donation-methods">
          <div class="donation-method">
            <input type="radio" name="donation-method" id="payment-option-github" value="github" onchange="toggleDonationMethod(); toggleDonationCurrency();" checked>
            <label for="payment-option-github">
              <svg role="img" width="50px" height="50px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>GitHub</title><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>
              <p>GitHub</p>
            </label>
          </div>
          <div class="donation-method">
            <input type="radio" name="donation-method" id="payment-option-paypal" value="paypal" onchange="toggleDonationMethod(); toggleDonationCurrency();"> 
            <label for="payment-option-paypal">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="124px" height="33px" viewBox="0 0 124 33" enable-background="new 0 0 124 33" xml:space="preserve">
              <path fill="#253B80" d="M46.211,6.749h-6.839c-0.468,0-0.866,0.34-0.939,0.802l-2.766,17.537c-0.055,0.346,0.213,0.658,0.564,0.658
                h3.265c0.468,0,0.866-0.34,0.939-0.803l0.746-4.73c0.072-0.463,0.471-0.803,0.938-0.803h2.165c4.505,0,7.105-2.18,7.784-6.5
                c0.306-1.89,0.013-3.375-0.872-4.415C50.224,7.353,48.5,6.749,46.211,6.749z M47,13.154c-0.374,2.454-2.249,2.454-4.062,2.454
                h-1.032l0.724-4.583c0.043-0.277,0.283-0.481,0.563-0.481h0.473c1.235,0,2.4,0,3.002,0.704C47.027,11.668,47.137,12.292,47,13.154z"
                />
              <path fill="#253B80" d="M66.654,13.075h-3.275c-0.279,0-0.52,0.204-0.563,0.481l-0.145,0.916l-0.229-0.332
                c-0.709-1.029-2.29-1.373-3.868-1.373c-3.619,0-6.71,2.741-7.312,6.586c-0.313,1.918,0.132,3.752,1.22,5.031
                c0.998,1.176,2.426,1.666,4.125,1.666c2.916,0,4.533-1.875,4.533-1.875l-0.146,0.91c-0.055,0.348,0.213,0.66,0.562,0.66h2.95
                c0.469,0,0.865-0.34,0.939-0.803l1.77-11.209C67.271,13.388,67.004,13.075,66.654,13.075z M62.089,19.449
                c-0.316,1.871-1.801,3.127-3.695,3.127c-0.951,0-1.711-0.305-2.199-0.883c-0.484-0.574-0.668-1.391-0.514-2.301
                c0.295-1.855,1.805-3.152,3.67-3.152c0.93,0,1.686,0.309,2.184,0.892C62.034,17.721,62.232,18.543,62.089,19.449z"/>
              <path fill="#253B80" d="M84.096,13.075h-3.291c-0.314,0-0.609,0.156-0.787,0.417l-4.539,6.686l-1.924-6.425
                c-0.121-0.402-0.492-0.678-0.912-0.678h-3.234c-0.393,0-0.666,0.384-0.541,0.754l3.625,10.638l-3.408,4.811
                c-0.268,0.379,0.002,0.9,0.465,0.9h3.287c0.312,0,0.604-0.152,0.781-0.408L84.564,13.97C84.826,13.592,84.557,13.075,84.096,13.075z
                "/>
              <path fill="#179BD7" d="M94.992,6.749h-6.84c-0.467,0-0.865,0.34-0.938,0.802l-2.766,17.537c-0.055,0.346,0.213,0.658,0.562,0.658
                h3.51c0.326,0,0.605-0.238,0.656-0.562l0.785-4.971c0.072-0.463,0.471-0.803,0.938-0.803h2.164c4.506,0,7.105-2.18,7.785-6.5
                c0.307-1.89,0.012-3.375-0.873-4.415C99.004,7.353,97.281,6.749,94.992,6.749z M95.781,13.154c-0.373,2.454-2.248,2.454-4.062,2.454
                h-1.031l0.725-4.583c0.043-0.277,0.281-0.481,0.562-0.481h0.473c1.234,0,2.4,0,3.002,0.704
                C95.809,11.668,95.918,12.292,95.781,13.154z"/>
              <path fill="#179BD7" d="M115.434,13.075h-3.273c-0.281,0-0.52,0.204-0.562,0.481l-0.145,0.916l-0.23-0.332
                c-0.709-1.029-2.289-1.373-3.867-1.373c-3.619,0-6.709,2.741-7.311,6.586c-0.312,1.918,0.131,3.752,1.219,5.031
                c1,1.176,2.426,1.666,4.125,1.666c2.916,0,4.533-1.875,4.533-1.875l-0.146,0.91c-0.055,0.348,0.213,0.66,0.564,0.66h2.949
                c0.467,0,0.865-0.34,0.938-0.803l1.771-11.209C116.053,13.388,115.785,13.075,115.434,13.075z M110.869,19.449
                c-0.314,1.871-1.801,3.127-3.695,3.127c-0.949,0-1.711-0.305-2.199-0.883c-0.484-0.574-0.666-1.391-0.514-2.301
                c0.297-1.855,1.805-3.152,3.67-3.152c0.93,0,1.686,0.309,2.184,0.892C110.816,17.721,111.014,18.543,110.869,19.449z"/>
              <path fill="#179BD7" d="M119.295,7.23l-2.807,17.858c-0.055,0.346,0.213,0.658,0.562,0.658h2.822c0.469,0,0.867-0.34,0.939-0.803
                l2.768-17.536c0.055-0.346-0.213-0.659-0.562-0.659h-3.16C119.578,6.749,119.338,6.953,119.295,7.23z"/>
              <path fill="#253B80" d="M7.266,29.154l0.523-3.322l-1.165-0.027H1.061L4.927,1.292C4.939,1.218,4.978,1.149,5.035,1.1
                c0.057-0.049,0.13-0.076,0.206-0.076h9.38c3.114,0,5.263,0.648,6.385,1.927c0.526,0.6,0.861,1.227,1.023,1.917
                c0.17,0.724,0.173,1.589,0.007,2.644l-0.012,0.077v0.676l0.526,0.298c0.443,0.235,0.795,0.504,1.065,0.812
                c0.45,0.513,0.741,1.165,0.864,1.938c0.127,0.795,0.085,1.741-0.123,2.812c-0.24,1.232-0.628,2.305-1.152,3.183
                c-0.482,0.809-1.096,1.48-1.825,2c-0.696,0.494-1.523,0.869-2.458,1.109c-0.906,0.236-1.939,0.355-3.072,0.355h-0.73
                c-0.522,0-1.029,0.188-1.427,0.525c-0.399,0.344-0.663,0.814-0.744,1.328l-0.055,0.299l-0.924,5.855l-0.042,0.215
                c-0.011,0.068-0.03,0.102-0.058,0.125c-0.025,0.021-0.061,0.035-0.096,0.035H7.266z"/>
              <path fill="#179BD7" d="M23.048,7.667L23.048,7.667L23.048,7.667c-0.028,0.179-0.06,0.362-0.096,0.55
                c-1.237,6.351-5.469,8.545-10.874,8.545H9.326c-0.661,0-1.218,0.48-1.321,1.132l0,0l0,0L6.596,26.83l-0.399,2.533
                c-0.067,0.428,0.263,0.814,0.695,0.814h4.881c0.578,0,1.069-0.42,1.16-0.99l0.048-0.248l0.919-5.832l0.059-0.32
                c0.09-0.572,0.582-0.992,1.16-0.992h0.73c4.729,0,8.431-1.92,9.513-7.476c0.452-2.321,0.218-4.259-0.978-5.622
                C24.022,8.286,23.573,7.945,23.048,7.667z"/>
              <path fill="#222D65" d="M21.754,7.151c-0.189-0.055-0.384-0.105-0.584-0.15c-0.201-0.044-0.407-0.083-0.619-0.117
                c-0.742-0.12-1.555-0.177-2.426-0.177h-7.352c-0.181,0-0.353,0.041-0.507,0.115C9.927,6.985,9.675,7.306,9.614,7.699L8.05,17.605
                l-0.045,0.289c0.103-0.652,0.66-1.132,1.321-1.132h2.752c5.405,0,9.637-2.195,10.874-8.545c0.037-0.188,0.068-0.371,0.096-0.55
                c-0.313-0.166-0.652-0.308-1.017-0.429C21.941,7.208,21.848,7.179,21.754,7.151z"/>
              <path fill="#253B80" d="M9.614,7.699c0.061-0.393,0.313-0.714,0.652-0.876c0.155-0.074,0.326-0.115,0.507-0.115h7.352
                c0.871,0,1.684,0.057,2.426,0.177c0.212,0.034,0.418,0.073,0.619,0.117c0.2,0.045,0.395,0.095,0.584,0.15
                c0.094,0.028,0.187,0.057,0.278,0.086c0.365,0.121,0.704,0.264,1.017,0.429c0.368-2.347-0.003-3.945-1.272-5.392
                C20.378,0.682,17.853,0,14.622,0h-9.38c-0.66,0-1.223,0.48-1.325,1.133L0.01,25.898c-0.077,0.49,0.301,0.932,0.795,0.932h5.791
                l1.454-9.225L9.614,7.699z"/>
              </svg>
              <p>PayPal</p>
            </label>
          </div>
          <div class="donation-method">
            <input type="radio" name="donation-method" id="payment-option-card" value="card" onchange="toggleDonationMethod(); toggleDonationCurrency();">
            <label for="payment-option-card">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M15.25 14a.75.75 0 000 1.5h3.5a.75.75 0 000-1.5h-3.5z"></path><path fill-rule="evenodd" d="M1.75 3A1.75 1.75 0 000 4.75v14.5C0 20.216.784 21 1.75 21h20.5A1.75 1.75 0 0024 19.25V4.75A1.75 1.75 0 0022.25 3H1.75zM1.5 4.75a.25.25 0 01.25-.25h20.5a.25.25 0 01.25.25V8.5h-21V4.75zm0 5.25v9.25c0 .138.112.25.25.25h20.5a.25.25 0 00.25-.25V10h-21z"></path></svg>
              <p>Credit Card</p>
            </label>
          </div>
        </div>

        <div class="flex">
          <div class="flex nowrap">
            <select class="donation-currency for-github shown" name="currency" disabled>
              <option value="USD">USD</option>
            </select>
            <select class="donation-currency for-paypal hidden" name="currency" onchange="toggleDonationCurrency();">
              <option value="JPY">JPY</option>
              <option value="USD">USD</option>
            </select>
            <select class="donation-currency for-card hidden" name="currency" onchange="toggleDonationCurrency();" disabled>
              <option value="JPY">JPY</option>
            </select>

            <input class="donation-amount for-github for-paypal shown" type="text" value="5.00" />
            <select class="donation-amount for-card hidden" name="donation-amount">
              <option value="100">100</option>
              <option value="300">300</option>
              <option value="500">500</option>
              <option value="1000">1,000</option>
            </select>
          </div>

          <div class="donation-frequency for-github shown">
            <input type="checkbox" id="donation-frequency-for-github" name="donation-is-monthly" />
            <label for="donation-frequency-for-github">毎月</label>
          </div>
          <div class="donation-frequency for-paypal hidden">
            <input type="checkbox" id="donation-frequency-for-paypal" name="donation-is-monthly" disabled />
            <label for="donation-frequency-for-paypal">毎月</label>
          </div>
          <div class="donation-frequency for-card hidden">
            <input type="checkbox" id="donation-frequency-for-card" name="donation-is-monthly" />
            <label for="donation-frequency-for-card">毎月</label>
          </div>
        </div>

        <div class="center">
          <button class="donation-button" type="button" onclick="executeDonation();" />投げ銭する</button>
        </div>
      </div>

      <div id="donation-modal-content-after-donation" class="hidden">
        <p>ご支援ありがとうございます！</p>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
<script>
  function showTag({ classList }) {
    classList.add('shown');
    classList.remove('hidden');
  }

  function hideTag({ classList }) {
    classList.remove('shown');
    classList.add('hidden');
  }

  function toggleDonationMethod() {
    if (document.querySelector('#payment-option-github').checked) {
      Array.from(document.getElementsByClassName('for-paypal')).forEach(hideTag);
      Array.from(document.getElementsByClassName('for-card')).forEach(hideTag);
      Array.from(document.getElementsByClassName('for-github')).forEach(showTag);
    } else if (document.querySelector('#payment-option-paypal').checked) {
      Array.from(document.getElementsByClassName('for-github')).forEach(hideTag);
      Array.from(document.getElementsByClassName('for-card')).forEach(hideTag);
      Array.from(document.getElementsByClassName('for-paypal')).forEach(showTag);
    } else if (document.querySelector('#payment-option-card').checked) {
      Array.from(document.getElementsByClassName('for-github')).forEach(hideTag);
      Array.from(document.getElementsByClassName('for-paypal')).forEach(hideTag);
      Array.from(document.getElementsByClassName('for-card')).forEach(showTag);
    }
  }

  function toggleDonationCurrency() {
    const currency = document.querySelector('select[name="currency"][class*="shown"]');
    const amount = document.querySelector('.donation-amount');

    if (currency.value === 'USD') {
      amount.value = '5.00';
    } else if (currency.value === 'JPY') {
      amount.value = '500';
    }
  }

  function executeDonation() {
    const currency = document.querySelector('select[name="currency"][class*="shown"]');
    const amount = document.querySelector('.donation-amount[class*="shown"]');
    const donation_is_monthly = Array.from(document.getElementsByClassName('donation-frequency'))
      .find(tag => tag.classList.contains('shown'))
      .children[0]
      .checked;

    if (document.querySelector('#payment-option-github').checked) {
      const frequency = donation_is_monthly ? 'recurring' : 'one-time';
      window.open(`https://github.com/sponsors/aiotter/sponsorships?frequency=${frequency}&amount=${amount.value}`);

    } else if (document.querySelector('#payment-option-paypal').checked) {
      window.open(`https://paypal.me/yoguchi/${amount.value}${currency.value}`);

    } else if (document.querySelector('#payment-option-card').checked) {
      let url;
      switch (amount.value) {
        case '100':
          url = donation_is_monthly
            ? 'https://buy.stripe.com/bIY8zBf6KguO1YA8wA'
            : 'https://buy.stripe.com/5kA9DF8Im3I25aM9AA';
          break;
        case '300':
          url = donation_is_monthly
            ? 'https://buy.stripe.com/14k2bdcYCfqK5aMfZ3'
            : 'https://buy.stripe.com/3cscPRf6Ka6qcDeaEF';
          break;
        case '500':
          url = donation_is_monthly
            ? 'https://buy.stripe.com/dR63fh4s6ceyfPq7sy'
            : 'https://buy.stripe.com/cN2035aQua6qeLm5km';
          break;
        case '1000':
          url = donation_is_monthly
            ? 'https://buy.stripe.com/fZe9DFbUy2DYgTu007'
            : 'https://buy.stripe.com/cN25np8ImguOav6dQT';
          break;
      }
      window.open(url);
    }

    hideTag(document.querySelector('#donation-modal-content-before-donation'));
    showTag(document.querySelector('#donation-modal-content-after-donation'));
  }

  MicroModal.init({onClose: () => {
    showTag(document.querySelector('#donation-modal-content-before-donation'));
    hideTag(document.querySelector('#donation-modal-content-after-donation'));
  }});
</script>
