---
layout: default
---
{%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
<script>
async function getCommentUrl(repo, filePath) {
  // list up the commits which update the current post
  const api_url = `https://api.github.com/repos/${repo}/commits?path=${filePath}`
  const response = await fetch(api_url)
  const commits = await response.json()

  // pick up the latest commit with only 1 updating file
  for (const commit of commits) {
    const response = await fetch(commit.url);
    const commit_detail = await response.json();
    if (commit_detail.files.length == 1) return `${commit.html_url}#new_commit_comment_field`;
  }
  throw new Error('Cannot detect comment url');
}
</script>

<div class="post-container">
  <a class="post-link" href="{{ page.url | relative_url }}">
    <h1 class="post-title">{{ page.title | escape }}</h2>
  </a>
  <div class="post-meta">
    <div class="horizontal">
      <div class="post-date">
        <i class="far fa-calendar-alt"></i>{{ page.date | date: date_format }}
      </div>
      <div class="post-history">
        <a href="https://github.com/{{site.repository}}/commits/{{site.branch}}/{{ page.path | url_encode | replace: '%2F', '/' | replace: '+', '%20' }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-history"></i>history</a>
      </div>
      <div class="post-source">
        <a href="https://github.com/{{site.repository}}/blob/{{site.branch}}/{{ page.path | url_encode | replace: '%2F', '/' | replace: '+', '%20' }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i>source</a>
      </div>
      <div class="post-add-comment">
        <a onclick="getCommentUrl('{{site.repository}}', '{{page.path}}').then(url => {window.open(url, '_blank')}).catch(() => {alert('コメント先を自動選択できませんでした．編集履歴を確認し，手動でコメント先を選択してください．'); window.open('https://github.com/{{site.repository}}/commits/{{site.branch}}/{{ page.path | url_encode | replace: '%2F', '/' | replace: '+', '%20' }}');})"><i class="far fa-comment-dots"></i>add comment</a>
      </div>
      <div class="post-create-pr">
        <a href="https://github.com/{{site.repository}}/edit/{{site.branch}}/{{ page.path | url_encode | replace: '%2F', '/' | replace: '+', '%20' }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-code-branch"></i>make a suggestion</a>
      </div>
    </div>
    <div class="horizontal">
      {% include category_list.html target=page %}
      {% include tag_list.html target=page %}
    </div>
  </div>
  <div class="post">
    {{ content }}
  </div>
  {%- if site.plainwhite.disqus_shortname -%}
  <div id="disqus_thread" style="margin-top:25px"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ page.url | absolute_url }}';
      this.page.identifier = '{{ page.url | absolute_url }}';
    };
    (function () {
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ site.plainwhite.disqus_shortname }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
      powered by Disqus.</a></noscript>
  {%- endif -%}
</div>
